<html>
    <head>
        <title>Docker Dashboard</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>Docker Hosts</h1>
        <div class='hosts' >
        </div>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/docker.js"></script>
        <script type="text/javascript" src="/js/dashboard.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </body>
</html>
